.chat-main
  .chat-main__group-info
    .group-title
      = @group.name
      .member
        Member :
        %ul
        - @group.users.each do |user|
          %li= user.name
    .edit
      = link_to edit_group_path(@group), class: "edit_btn" do
        Edit
  .chat-main__message-list
    = render @messages
    
  .chat-main__message-form
    .chat-main__message-form__input
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .input-form
          = f.text_field :body, class: 'input-text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('far', 'image', class: 'icon')
            = f.file_field :image, class: 'input'
        = f.submit 'Send', class: 'submit-btn'