.side-ber
  .side-ber__user-name
    .side-ber__top-items
      .side-ber__top-items__name
        = current_user.name
      .side-ber__top-items__icons
        = link_to "/groups/new", class: "icons__btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "icons__btn" do
          = icon('fas', 'cog')  
  .side-ber__group-list
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .group-name
          = group.name
          .new-message
            = group.show_last_message
      
